
.row .col.s3 {
    margin-top: 10%;
}


.waves-effect waves-light btn cyan accent-3{
    width: 10%;
}

.warning{
    color: red;
}

.regularMsg{
    color: #919491; 
}


.center{
    font-size: 2em;
}

.row .col.s5 {
    margin: 2%; 
}

.container{
    width:98%; 
}

.studentGradeHeader{
    text-align: left;
    font-size: 2em; 
}