
.row .col.s3 {
    margin-top: 10%;
}

.waves-effect waves-light btn cyan accent-3{
    width: 10%;
}

.warning{
    color: red;
}

.regularMsg{
    color: #919491; 
}

.studentButtons{
    margin: 1%; 
}