
.row .col.s3 {
    margin-top: 10%;
}


.waves-effect waves-light btn cyan accent-3{
    width: 10%;
}

.warning{
    color: red;
}

.regularMsg{
    color: #919491; 
}


.center{
    font-size: 2em;
}

.row .col.s5 {
    margin: 2%; 
}

.container{
    width:87%; 
}

.studentGradeHeader{
    text-align: left;
    font-size: 2em; 
}


@media only screen and (min-device-width: 320px) and (max-device-width: 480px) 
{
    .row .col.s5 {
        width:45%;
    }
    .center {
        font-size: 14px;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
        .center{
            font-size: 1em; 
        }
}

@media screen 
  and (min-device-width: 1025px) 
  and (-webkit-min-device-pixel-ratio: 1) 
  {
      .center{
          font-size: 1.25em; 
      }

}