.form {
    margin-top: 15%;
}

table{
    width: 100%; 
    display: table; 
    table-layout: fixed; 
}

td{
    vertical-align: top; 
}

.btn{
    margin-bottom: 10px;
}

.modalBody{
    position: fixed;
    background-color: white;
    left: 50%;
    top: 50%;
    min-height: 50%;
    min-width: 70%;
    transform: translate( -50%, -50%);
}

.modalShadow{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.4);
    display: block; 
    z-index: 2;
}

.buttonsForModal{
    margin-top: 10%; 
}

.cancel{
    padding-right: 37px;
    justify-content: center; 
}

.form {
    margin-top: 15%;
}

.modalText{
    font-size: 1.75em; 
}




@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px){
    .modalBody{
        top: 37%; 
        min-height: 31%;
    }
   
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 640px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

    .form {
        margin-top: 5%;
    }

}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 640px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation:portrait) {

    .form {
        margin-top: 5%;
    }
    .btn{
        padding: 0 1rem; 
    }

}


